:root {
    --clr-primary-400: #333;
    --clr-primary-900: #272727;

    --clr-home-border: #f68f8f;
    --clr-menu-border: #f6e08f;
    --clr-login-border: #96f68f;
    --clr-gallery-border: #de8ff6;

}