@import './constants.css';

html {
    height: 100%;
}


/* background: #f68f8f;
background: -moz-linear-gradient(left, #f68f8f 0%, #f6e08f 33%, #96f68f 66%, #de8ff6 100%);
background: -webkit-linear-gradient(left, #f68f8f 0%, #f6e08f 33%, #96f68f 66%, #de8ff6 100%);
background: linear-gradient(to right, #f68f8f 0%, #f6e08f 33%, #96f68f 66%, #de8ff6 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f68f8f', endColorstr='#de8ff6', GradientType=1); */

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background: rgb(255, 235, 244);
    /* background: radial-gradient(circle, rgba(255, 235, 244, 1) 0%, rgba(148, 187, 233, 1) 100%); */
    background: rgb(46, 46, 46);
}

input {
    box-sizing: border-box;
    outline: none;
    transition: 0.25s;
    border: none;
    border-radius: 10px;
    padding: 10px;
    width: 100%;
}

.wrapper {
    margin-top: 66px;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-container {
    min-height: 400px;
    min-width: 250px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-text {
    text-align: center;
}

.form-button {
    cursor: pointer;
    font-weight: bold;
    background: rgb(255, 235, 244);
    /* background: radial-gradient(circle, rgba(255, 235, 244, 1) 0%, rgba(148, 187, 233, 1) 100%); */
    background: #296674;
}

.login-form input[type="submit"]:hover {
    opacity: 0.8;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus {
    outline: 2px #296674 solid;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    border: none;
    border-radius: 10px;
    background-color: gainsboro;
}

#email-input {
    margin-top: 30px;
}

#pass-input {
    margin-top: 10px
}